	#nav-wrap .container {
		position: relative;
	}

	.nav-wrap2 {
		height: 100px;
		position: relative;
		border-color: #f0f0f0;
	}

	.nav-wrap2 {
		height: 83px;
		margin: 0 auto;
		border: none;
	}

	.nav-wrap2.mn4 {
		height: 60px;
	}

	#nav {
		float: right;
	}

	#nav li {
		list-style: none;
		padding: 0;
		margin: 0;
		float: left;
		display: block;
		height: 100%;
		vertical-align: middle;
		position: static;
	}

	#nav a {
		display: block;
		font-weight: 400;
		color: #777;
		outline: 0;
		opacity: 1;
		text-align: center;
		font-size: 13px;
		text-transform: uppercase;
		padding: 0 15px;
		line-height: 100px;
		transition: background .15s ease-in-out;
	}

	#nav a:hover,
	#nav li:hover>a {
		color: #0099ff;
	}

	#nav ul {
		position: absolute;
		width: 210px;
		background: #fff;
		padding: 0;
		margin: 0;
		box-shadow: 0 3px 9px rgba(0, 0, 0, 0.09);
		z-index: 9100;
		display: none;
		/* hide dropdown */
	}


	#nav ul li {
		float: none;
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
	}

	#nav ul li:hover {
		background-color: #f9f9f9;
	}

	#nav ul li:last-child {
		border: none;
	}

	#nav ul li a {
		color: #777;
		width: auto;
		display: block;
		text-align: left;
		padding: 7px 12px;
		border-radius: 0;
		font-size: 11px;
		font-weight: 400;
		border: 0 none;
		text-transform: uppercase;
		;
		line-height: 24px;
		min-height: 24px;
		letter-spacing: 1px;
	}

	#nav ul li a:hover,
	.nav-wrap2 #nav ul li a:hover,
	.nav-wrap2.darknavi #nav ul li a:hover,
	#nav ul li:hover>a {
		color: #0099ff;
	}

	#nav li:hover>ul {
		display: block;
		visibility: visible;
		/* show dropdown on hover */
	}

	@media only screen and (min-width: 940px) {
		.nav-wrap2 #nav {
			margin: 0;
			width: 100%;
			background: none;
		}

		.nav-wrap2 {
			border-bottom: 1px solid #ebebeb;
			border-top: 1px solid #ebebeb;
			background: #eaeaea;
		}

		.nav-wrap2.darknavi {
			background: #3a3a3a;
			border-color: transparent;
		}
	}

	.nav-wrap2 #nav {
		text-align: center;
	}

	.nav-wrap2 #nav a {
		color: #444;
	}

	.nav-wrap2 #nav>li {
		margin: 0;
		padding: 0;
		float: none;
		display: inline-block;
	}

	.nav-wrap2 #nav>li>ul {
		margin-left: 0;
	}

	.nav-wrap2 #nav>li>a {
		margin: 0;
		padding: 21px 20px 18px;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 400;
		line-height: 18px;
		text-align: center;
	}

	.nav-wrap2.mn4 #nav>li>a {
		padding: 21px 25px 20px;
	}

	#nav>li>a:after {
		margin-top: 6px;
		display: block;
		font-size: 11px;
		color: #9a9a9a;
		font-weight: 400;
	}

	#nav>li>a:after {
		content: attr(data-description);
	}

	.nav-wrap2.mn4 #nav>li>a:after {
		content: "";
		display: none;
	}

	.nav-wrap2 #nav>li:hover>a {
		color: #0099ff;
		background: none;
	}

	.nav-wrap2.darknavi #nav>li>a {
		color: #fff;
	}

	.nav-wrap2.darknavi #nav>li>a:hover,
	.nav-wrap2.darknavi #nav>li:hover>a {
		background-color: #242424;
	}

	@media only screen and (max-width: 960px) {

		/* nav-wrap */
		#nav-wrap {
			position: relative;
			height: 30px;
			text-align: center;
			margin: 0 0 32px 0;
		}

		/* menu icon */


		/* main nav */
		#nav {
			clear: both;
			margin: 0 auto;
			background: #fff;
			position: absolute;
			width: 260px;
			z-index: 1000;
			padding: 2px 0 44px 18px;
			border: 1px solid #d2d2d2;
			border-top: 0 none;
			display: none;
			/* visibility will be toggled with jquery */
		}

		#nav ul {
			padding: 5px 0;
		}

		#nav li,
		.nav-wrap2 #nav li {
			clear: both;
			text-align: left;
			float: none;
			border: 0 none;
			margin: 0;
			margin-left: 10px;
			padding: 0 !important;
			border-bottom: 1px solid #dcdee2;
		}

		#nav ul li {
			border-color: #dcdee2;
		}

		#nav ul li:last-child,
		.nav-wrap2 #nav ul li:last-child {
			border: none;
		}

		#nav>li>ul:after,
		#nav>li>ul:before {
			display: none;
			visibility: hidden;
		}

		#nav a,
		.nav-wrap2 #nav>li>a,
		.nav-wrap2.mn4 #nav li a {
			line-height: 24px;
		}

		#nav a,
		#nav ul a,
		.nav-wrap2 #nav>li>a,
		.nav-wrap2.mn4 #nav li a,
		#nav ul li a,
		#nav ul li:hover>a,
		.nav-wrap2.darknavi #nav>li>a {
			background: none;
			width: auto;
			display: inline-block;
			padding: 11px 11px 11px 0;
			text-align: left;
			border: 0 none;
			margin: 0;
			line-height: 1.2;
		}

		#nav>li>a {
			margin: 0;
			padding: 14px 0;
			line-height: 16px;
			display: block;
		}

		#nav>li:hover>a {
			background: none;
			color: #0099ff;
		}

		.nav-wrap2 #nav>li {
			display: block;
		}

		.nav-wrap2 #nav>li>a,
		.nav-wrap2 #nav>li:first-child>a {
			border: 0 none;
		}

		.nav-wrap2 #nav>li>a {
			font-size: 14px;
			font-weight: 400;
		}

		.nav-wrap2.darknavi #nav>li>a {
			color: #666;
		}

		.nav-wrap2.darknavi #nav>li>a:hover,
		.nav-wrap2.darknavi #nav>li:hover>a {
			background: none;
		}

		#nav a:after {
			display: none;
			visibility: hidden;
		}



		/* dropdown */
		#nav li ul {
			display: none;
			margin: 0;
			padding: 0;
			padding-left: 10px;
		}

		#nav ul {
			width: auto;
			margin: 0;
			box-shadow: none;
			position: static;
			display: block;
			border: none;
		}

		#nav:not( :target)>a:first-of-type {
			display: block;
		}

		.nav-wrap2,
		.nav-wrap2.darknavi {
			border: 0 none;
			box-shadow: 0 0 0 0;
			background: none;
		}

	}

	@media only screen and (min-width: 480px) and (max-width: 960px) {
		#nav {
			left: 51px;
			width: 278px;
		}

		.nav-wrap2 #nav {
			left: 71px;
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 960px) {
		#nav {
			left: 132px;
		}

		.nav-wrap2 #nav {
			left: 245px;
		}

		#nav-wrap.nav-wrap2 {
			max-width: 760px;
		}
	}

	@media only screen and (max-width: 767px) {
		#nav-wrap.nav-wrap2 {
			width: 420px;
			margin-right: auto;
			margin-left: auto;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	@media only screen and (max-width: 479px) {
		#nav-wrap.nav-wrap2 #nav {
			max-width: 300px;
		}

		#nav-wrap.nav-wrap2 {
			width: 300px;
		}
	}


	@media screen and (min-width: 961px) {
		#nav {
			display: block !important;
		}

		.nav-wrap2 #nav {
			display: table !important;
		}
	}

	@media only screen and (min-width: 961px) and (max-width: 1200px) {
		.nav-wrap2.mn4 #nav>li>a {
			padding-left: 14px;
			padding-right: 14px;
		}
	}


	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.nav-wrap2 {
			width: 420px;
		}
	}
