#nav-wrap .container {
	position: relative;
}

.nav-wrap2 {
	height: 100px;
	position: relative;
	border-color: #f0f0f0;
}

.nav-wrap2 {
	height: 83px;
	margin: 0 auto;
	border: none;
}

.nav-wrap2.mn4 {
	height: 60px;
}

#nav li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	display: block;
	height: 100%;
	vertical-align: middle;
	position: static;
}

#nav a {
	display: block;
	font-weight: 400;
	color: #777;
	outline: 0;
	opacity: 1;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	padding: 0 15px;
	line-height: 100px;
	transition: background .15s ease-in-out;
}

#nav a:hover,
#nav li:hover>a {
	color: #0099ff;
}

#nav ul {
	position: absolute;
	width: 210px;
	background: #fff;
	padding: 0;
	margin: 0;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.09);
	z-index: 9100;
	display: none;
	/* hide dropdown */
}

#nav ul li {
	float: none;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}

#nav ul li:hover {
	background-color: #f9f9f9;
}

#nav ul li:last-child {
	border: none;
}

#nav ul li a {
	color: #777;
	width: auto;
	display: block;
	text-align: left;
	padding: 7px 12px;
	border-radius: 0;
	font-size: 11px;
	font-weight: 400;
	border: 0 none;
	text-transform: uppercase;
	;
	line-height: 24px;
	min-height: 24px;
	letter-spacing: 1px;
}

#nav ul li a:hover,
.nav-wrap2 #nav ul li a:hover,
.nav-wrap2.darknavi #nav ul li a:hover,
#nav ul li:hover>a {
	color: #0099ff;
}

#nav li:hover>ul {
	display: block;
	visibility: visible;
	/* show dropdown on hover */
}

.nav-wrap2 #nav {
	margin: 0;
	width: 100%;
	background: none;
}

.nav-wrap2 {
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	background: #eaeaea;
}

.nav-wrap2.darknavi {
	background: #3a3a3a;
	border-color: transparent;
}


.nav-wrap2 #nav {
	text-align: center;
}

.nav-wrap2 #nav a {
	color: #444;
}

.nav-wrap2 #nav>li {
	margin: 0;
	padding: 0;
	float: none;
	display: inline-block;
}

.nav-wrap2 #nav>li>ul {
	margin-left: 0;
}

.nav-wrap2 #nav>li>a {
	margin: 0;
	padding: 21px 20px 18px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
}

.nav-wrap2.mn4 #nav>li>a {
	padding: 21px 25px 20px;
}

#nav>li>a:after {
	margin-top: 6px;
	display: block;
	font-size: 11px;
	color: #9a9a9a;
	font-weight: 400;
}

#nav>li>a:after {
	content: attr(data-description);
}

.nav-wrap2.mn4 #nav>li>a:after {
	content: "";
	display: none;
}

.nav-wrap2 #nav>li:hover>a {
	color: #0099ff;
	background: none;
}

.nav-wrap2.darknavi #nav>li>a {
	color: #fff;
}

.nav-wrap2.darknavi #nav>li>a:hover,
.nav-wrap2.darknavi #nav>li:hover>a {
	background-color: #242424;
}
