/* Estilos gerais */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body, h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
}

a {
  color: #0E7684;
}

.img-responsive {
  width: 100%;
  border-radius: 1rem;
}

.btn {
  display: block;
  background: rgba(247, 197, 30, 0.8);
  color: black;
  max-width: 35rem;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 2.2rem;
  margin: 3rem auto;
  font-weight: bold;
  font-family: 'Montserrat', Arial, sans-serif;
  border-radius: 5px;
  transition: .5s all;
  text-transform: uppercase;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.btn:hover, .btn:active, .btn:focus {
  color: #0E7684;
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  background-color: white;
}

/* Fontes */

h1, h2, h3, .citacao {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.subtitulo {
  font-size: 2.4rem;
  font-weight: lighter;
}

.citacao {
  font-size: 1.8rem;
  font-style: italic;
}

.citacao-autor {
  margin-top: 1rem;
  font-weight: bold;
}

.destaque__texto {
  font-size: 1.8rem;
  line-height: 1.2;
}

.destaque_num {
  font-size: 4rem;
  font-weight: bold;
}

/* Layout */

.grid {
  max-width: 960px;
  padding: 6rem 0;
}

.flex {
  display: flex;
}

.flex_center {
  display: flex;
  justify-content: center;
}

.flex_column_mobile {
  display: flex;
  justify-content: center;
}

.col-50_desktop_100_mobile {
  width: 50%;
}

@media (max-width: 768px) {
  .flex_column_mobile {
    flex-direction: column;
  }
  .col-50_desktop_100_mobile {
    width: 100%;
  }
}

.hr {
  max-width: 200px;
  border: 1px solid #ccc;
}

.margin-center {
  margin: 0 auto !important;
}

/* margin vertical */
.mvs {
  margin: 2rem 0;
}

.mvm {
  margin: 4rem 0;
}

.mlm {
  margin-left: 5rem;
}

.mts {
  margin-top: 2rem;
}

.mtm {
  margin-top: 4rem;
}

.mbs {
  margin-bottom: 2rem;
}

.pm {
  padding: 4rem;
}

.br-2 {
  border-radius: 2rem;
}

/* Cores */
.bg-light {
  background-color: #f3f3f3;
}

/* Navegacao */
.img-logo-w1 {
  max-width: 45rem;
  width: 100%;
}

.logo {
  justify-content: center;
  align-items: center;
}

.responsive-menu {
  display: none;
  background:#0E7684;
  border: none;
  padding: 1rem 2rem;
  border-radius: .5rem;
}

.responsive-menu > div {
  width: 15px;
  background:  white;
  height: 2px;
  margin: 5px 0;
}

/* Header */
.header {
  background: url(./../img/banner.png) center no-repeat;
  background-size: cover;
  justify-content: center;
  min-height: 38rem;
  align-items: flex-end;
}

.header__box {
  text-align: center;
  color:white;
  background:#0E7684;
  padding: 3rem;
}

/* Banner */
.banner a {
  display: block;
  background: #DB4C40;
  padding: 3rem;
  color: white;
}

/* Sobre Section */
.sobre__descricao {
  justify-content: space-between;
  align-items: center;
}

.sobre__descricao > * {
  margin: 0 15px;
}

.sobre__texto {
  max-width: 60rem;
}

.sobre__texto > p,
.caridade__texto > p {
  margin-bottom: 1.2rem;
}

.caridade__titulo {
  margin: 5rem 0 1rem 0;
  color: #0E7684;
  text-transform: uppercase;
}

/* Trabalhos Caritativos Section */
.caridade__box {
  overflow: hidden;
}

.caridade__video {
  width: 100%;
  max-width: 600px;
  height: 315px;
  margin: 5rem auto;
  display: block;
}

.caridade__db-column {
  display: flex;
  margin: 3rem 0;
  align-items: center;
}

.caridade__db-column > img {
  width: 100%;
  border-radius: 10px;
  margin-right: 3rem;
}

.caridade__db-column > * {
  max-width: 65%;
}

.destaque {
  justify-content: space-between;
}

.destaque__circle {
  background-color: #0E7684;
  color: white;
  padding: 3rem;
  border-radius: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26rem;
  height: 26rem;
  border-radius: 23rem;
}

.galeria > img {
  max-width: 35rem;
  border-radius: 2rem;
}

.galeria_linha > img {
  margin: 0 1.5rem;
}

/* Doacao Section */
.doacao__link {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
  margin: 3rem;
}

.doacao__link > * {
  margin-bottom: 2rem;
  text-align: left;
}

.doacao__img-container {
  height: 150px;
  display: flex;
  align-items: center;
}

.doacao__img {
  max-width: 150px;
}

/* Footer */
.footer {
  background: #1b1e23;
  color: white;
}

.footer__box {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

.footbot {
  background: #333;
  color: white;
  text-align: center;
  padding: 3rem;
  font-size: 1.6rem;
}

/* Media Query */
@media only screen and (max-width: 940px) {
  .grid {
    padding: 4rem;
  }

  .logo {
    justify-content: space-between;
  }

  .responsive-menu {
    display: block;
  }

  .header {
    min-height: 30rem;
  }

  .header__box {
    padding: 2rem;
    width: 100%;
  }
  
  .sobre__descricao, .destaque, .doacao__box-links {
    flex-direction: column;
    align-items: center;
  }

  .sobre__texto > p, .destaque__circle {
    margin-top: 3rem;
  }

  .caridade__db-column {
    flex-direction: column;
  }

  .caridade__db-column img {
    margin-bottom: 2rem;
    max-width: 40rem;
  }

  .caridade__db-column > * {
    max-width: 100%;
  }

  .doacao__link {
    width: 100%;
    max-width: 30rem;
    margin: 2rem;
  }
}

@media only screen and (max-width: 640px) {
  main {
    overflow: hidden;
  }

  .logo {
    flex-direction: column;
  }

  .logo > .responsive-menu {
    margin-top: 2rem;
  }

  .header {
    min-height: 40rem;
    background-position: center;
  }

  .caridade__img {
    position: relative;
    width: 200%;
    left: -50%;
  }

  .galeria_linha {
    flex-direction: column;
    align-items: center;
  }

  .galeria_linha > img {
    margin: 1rem 0;
  }

  .footer__maps {
    margin-bottom: 3rem;
  }

  .footer__box {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 8px;
  }

  .grid {
    padding: 5rem 1rem;
    max-width: 320px;
  }
}

/* Natal Solidário */
.cesta__duas-column > ul:not(:first-child) {
  padding-left: 5rem;
}

.cesta__lista {
  padding-left: 1.5rem;
}

.cesta__lista li {
  font-size: 1.8rem;
  margin: .5rem 0;
}

.ceia__ingredientes-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ceia__ingredientes-container {
  background: #CAC4CE;
  padding: 0 2rem;
  border-radius: 5px;
  margin: 2rem 0;
}

@media (max-width: 550px) {
  .ceia__ingredientes-container {
    width: 100%;
  }

}

@media (max-width: 768px) {
  .cesta__duas-column > ul:not(:first-child) {
    padding-left: 1.5rem;
  }
}

.cesta__destaque {
  border: 1px solid black;
  padding: 25px 40px;
  background: #f3f3f3;
}