/* Estilos gerais */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body, h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: rgb(53, 102, 108)
}

.img-responsive {
  width: 100%;
}

.img-mockup_1 {
  width: 100%;
  max-width: 300px;
  height: 300px;
  background-color: grey;
}

.img-mockup_2 {
  width: 100%;
  max-width: 960px;
  height: 250px;
  background-color: grey;
}

/* Fontes */

h1, h2, h3, .citacao {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.subtitulo {
  font-size: 2.4rem;
  font-weight: lighter;
}

.citacao {
  font-size: 1.8rem;
  font-style: italic;
}

.citacao-autor {
  margin-top: 1rem;
  font-weight: bold;
}

.destaque__texto {
  font-size: 1.8rem;
  line-height: 1.2;
}

.destaque_num {
  font-size: 4rem;
  font-weight: bold;
}

/* Layout */

.grid {
  max-width: 960px;
  padding: 6rem 0;
}

.flex {
  display: flex;
}

.flex_center {
  display: flex;
  justify-content: center;
}

/* margin vertical */
.mvs {
  margin: 2rem 0;
}

.mvm {
  margin: 4rem 0;
}

.pm {
  padding: 4rem;
}

/* Cores */
.bg-light {
  background-color: #f3f3f3;
}

/* Navegacao */
.img-logo-w1 {
  max-width: 45rem;
  width: 100%;
}

.logo {
  justify-content: center;
  align-items: center;
}

.responsive-menu {
  display: none;
  background:rgb(84, 162, 172);
  border: none;
  padding: 1rem 2rem;
  border-radius: .5rem;
}

.responsive-menu > div {
  width: 15px;
  background:  white;
  height: 2px;
  margin: 5px 0;
}

/* Header */
.header {
  background: url(./../img/banner.jpeg) no-repeat;
  background-size: cover;
  justify-content: center;
  min-height: 38rem;
  align-items: flex-end;
}

.header__box {
  text-align: center;
  color:white;
  background:rgb(84, 162, 172);
  padding: 3rem;
}

/* Sobre Section */
.sobre__descricao {
  justify-content: space-between;
  align-items: center;
}

.sobre__descricao > * {
  margin: 0 10px;
}

.sobre__texto {
  max-width: 60rem;
}

/* Trabalhos Caritativos Section */
.destaque {
  justify-content: space-between;
}

.destaque__circle {
  background-color: rgb(84, 162, 172);
  color: white;
  padding: 3rem;
  border-radius: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  border-radius: 20rem;
}

.galeria > img {
  max-width: 35rem;
  border-radius: 2rem;
}

/* Doacao Section */
.doacao__link {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
  margin: 3rem;
}

.doacao__link > * {
  margin-bottom: 2rem;
}

.doacao__conta {
  text-align: left;
}
.doacao__img-container {
  height: 150px;
  display: flex;
  align-items: center;
}

.doacao__img {
  max-width: 150px;
}


/* Media Query */
@media only screen and (max-width: 940px) {
  .grid {
    padding: 6rem;
  }

  .logo {
    justify-content: space-between;
  }

  .responsive-menu {
    display: block;
  }

  .header {
    min-height: 30rem;
  }

  .header__box {
    padding: 2rem;
    width: 100%;
  }
  
  .sobre__descricao, .destaque, .doacao__box-links {
    flex-direction: column;
    align-items: center;
  }

  .sobre__texto > p, .destaque__circle {
    margin-top: 3rem;
  }

  .doacao__link {
    width: 100%;
    margin: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    flex-direction: column;
  }

  .logo > .responsive-menu {
    margin-top: 2rem;
  }

  .header {
    min-height: 40rem;
    background-position: center;
  }
}

@media only screen and (max-width: 350px) {
  .grid {
    padding: 5rem 3rem;
  }
}
